# C_b_1 : Recherche de modèles

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import locale
import calendar
import holidays
from datetime import date
from references import *
from src import *

import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import TimeSeriesSplit

import warnings

warnings.filterwarnings("ignore")
plt.style.use("fivethirtyeight")
pd.options.mode.chained_assignment = None

locale.setlocale(locale.LC_ALL, "fr_CA.UTF-8")

'fr_CA.UTF-8'

In [6]:
df = import_data()
df

                           MW  Temp
date
2018-12-28 00:00:00       NaN -10.0
2018-12-28 01:00:00       NaN  -9.0
2018-12-28 02:00:00       NaN  -7.8
2018-12-28 03:00:00       NaN  -6.3
2018-12-28 04:00:00       NaN  -4.1
...                       ...   ...
2022-12-31 19:00:00  23381.99   1.9
2022-12-31 20:00:00  22627.35   2.5
2022-12-31 21:00:00  22004.14   2.1
2022-12-31 22:00:00  21469.17   2.0
2022-12-31 23:00:00  21021.14   1.8

[35164 rows x 2 columns]

---

## XGBoost

https://en.wikipedia.org/wiki/XGBoost

XGBoost, which stands for Extreme Gradient Boosting, is a scalable, distributed gradient-boosted decision tree (GBDT) machine learning library. It provides parallel tree boosting and is the leading machine learning library for regression, classification, and ranking problems.

> XGBoost gained significant favor in the last few years as a result of helping individuals and teams win virtually every Kaggle structured data competition. In these competitions, companies and researchers post data after which statisticians and data miners compete to produce the best models for predicting and describing the data. (https://www.nvidia.com/en-us/glossary/data-science/xgboost/)

### Exemple inspirant ce sujet

Part 1 : https://youtu.be/vV12dGe_Fho?si=Zifv1O512VNiqJ8W  
Part 2 : https://youtu.be/z3ZnOW-S550?si=VcoYQ4S5Zlcqffyr

## 1. Time Series Cross Validation

test_size = 1 an

In [13]:
n_split = 4

tss = TimeSeriesSplit(n_splits=n_split, test_size=24*365*1, gap=24)
df = df.sort_index()

In [12]:
fig, axs = plt.acorrsubplots(n_split,1, figsize=(15,5), share_x = True)

fold = 0
for train_idx, val_idx in tss.split(df):
    train = df.iloc[train_idx]